## Links

[Webpage](https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page)

[Parquet](https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet)

[Dictionary](https://www.nyc.gov/assets/tlc/downloads/pdf/data_dictionary_trip_records_yellow.pdf)

[Lookup Table](https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv)

## Imports

In [5]:
import pandas as pd
import numpy as np
import math
import time, timeit

from sqlalchemy import create_engine

In [6]:
pd.set_option('display.max_rows', 15)
pd.set_option('display.max_column', 10)

## Data Exploration

In [7]:
df = pd.read_parquet('./yellow_tripdata_2021-01.parquet')
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,...,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,...,0.00,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,...,0.00,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,...,0.00,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,...,0.00,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,...,0.00,0.3,24.36,2.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1369764,2,2021-01-31 23:03:00,2021-01-31 23:33:00,NaN,8.89,...,0.00,0.3,38.54,NaN,NaN
1369765,2,2021-01-31 23:29:00,2021-01-31 23:51:00,NaN,7.43,...,6.12,0.3,39.50,NaN,NaN
1369766,2,2021-01-31 23:25:00,2021-01-31 23:38:00,NaN,6.26,...,0.00,0.3,24.05,NaN,NaN
1369767,6,2021-01-31 23:01:06,2021-02-01 00:02:03,NaN,19.70,...,0.00,0.3,54.48,NaN,NaN
1369768,2,2021-01-31 23:08:29,2021-01-31 23:31:22,NaN,4.68,...,0.00,0.3,29.00,NaN,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1369769 entries, 0 to 1369768
Data columns (total 19 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               1369769 non-null  int64
 1   tpep_pickup_datetime   1369769 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  1369769 non-null  datetime64[ns]
 3   passenger_count        1271417 non-null  float64
 4   trip_distance          1369769 non-null  float64
 5   RatecodeID             1271417 non-null  float64
 6   store_and_fwd_flag     1271417 non-null  object
 7   PULocationID           1369769 non-null  int64
 8   DOLocationID           1369769 non-null  int64
 9   payment_type           1369769 non-null  int64
 10  fare_amount            1369769 non-null  float64
 11  extra                  1369769 non-null  float64
 12  mta_tax                1369769 non-null  float64
 13  tip_amount             1369769 non-null  float64
 14  tolls_amount           1369769 non-null  float64
 15  improvement_surcharge  1369769 non-null  float64
 16  total_amount           1369769 non-null  float64
 17  congestion_surcharge   1271417 non-null  float64
 18  airport_fee            5 non-null        float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 198.6+ MB

In [9]:
print(pd.io.sql.get_schema(df,'yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

## Preparing for SQL

In [10]:
df = df.rename({'VendorID': 'vendorid',
           'RatecodeID': 'ratecodeid',
           'PULocationID': 'pulocationid',
           'DOLocationID': 'dolocationid'
           }
           , axis=1)

# df['vendorid'] = df['vendorid'].astype(pd.Int8Dtype())
# df['passenger_count'] = df['passenger_count'].astype(pd.Int16Dtype())
# df['RatecodeID'] = df['RatecodeID'].astype(pd.Int8Dtype())
# df['payment_type'] = df['payment_type'].astype(pd.Int8Dtype())
# df['payment_type'] = df['payment_type'].astype(pd.Int8Dtype())

In [11]:
def col_astype(col, dtype):
    df[col] = df[col].astype(dtype)

In [12]:
col_astype('vendorid', pd.Int16Dtype())
col_astype('passenger_count', pd.Int8Dtype())
col_astype('ratecodeid', pd.Int8Dtype())
col_astype('payment_type', pd.Int8Dtype())
col_astype('pulocationid', pd.Int16Dtype())
col_astype('dolocationid', pd.Int16Dtype())

In [13]:
print(pd.io.sql.get_schema(df,'yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"vendorid" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "ratecodeid" INTEGER,
  "store_and_fwd_flag" TEXT,
  "pulocationid" INTEGER,
  "dolocationid" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

## PostGreSQL

In [14]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [11]:
engine.connect()

In [12]:
print(pd.io.sql.get_schema(df, 'yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	vendorid SMALLINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count SMALLINT,
	trip_distance FLOAT(53),
	ratecodeid SMALLINT,
	store_and_fwd_flag TEXT,
	pulocationid SMALLINT,
	dolocationid SMALLINT,
	payment_type SMALLINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [13]:
n_chunks = 100000
df_chunks = np.array_split(df, math.ceil(df.shape[0] / n_chunks))

## Push to SQL

In [14]:
df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [15]:
for each in df_chunks:
    start = time.time()
    each.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    end = time.time()

    print(f"pushed a chunk.......{end - start:.3f}s")

pushed a chunk.......9.710s
pushed a chunk.......8.743s
pushed a chunk.......9.082s
pushed a chunk.......8.924s
pushed a chunk.......8.877s
pushed a chunk.......9.079s
pushed a chunk.......8.813s
pushed a chunk.......9.921s
pushed a chunk.......11.334s
pushed a chunk.......9.755s
pushed a chunk.......9.145s
pushed a chunk.......9.351s
pushed a chunk.......9.032s
pushed a chunk.......8.745s

## Add Lookup Table to SQL

In [4]:
lookup_table = pd.read_csv('taxi+_zone_lookup.csv')

In [15]:
lookup_table.to_sql(name='zone', con=engine, if_exists='replace')

265